<!DOCTYPE html>
<html>
  <head>
    <title> Heat Map </title>

    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript" src="/javascripts/heat_map.js"></script>
  </head>

  <body>
    <div class="maps_container">
      <!-- <div id="state_incomes_map" class="map_full_width"></div> -->
      <div id="state_incomes_map" class="map_half_width"></div>
      <div id="state_populations_map" class="map_half_width"></div>
    </div>
  </body>
</html>
