<!DOCTYPE html>
<html>
  <head>
    <title> Highlight State </title>

    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>

  <body>
    <div id="map" class="map_800_width"></div>
    <script>
      let stateToHighlight = "{{state}}"
    </script>
    <script type="text/javascript" src="/javascripts/highlight_state.js"></script>
  </body>
</html>
