<!DOCTYPE html>
<html>
  <head>
    <title> Record Gesture </title>

    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript" src="/javascripts/paper-full.min.js"></script>
    <script type="text/javascript" src="/javascripts/record_gesture.js"></script>
  </head>

  <body>
    <div id="map" class="map_800_width"></div>
    <canvas id="trace" width="800" height="500"></canvas>
  </body>
</html>
