<!DOCTYPE html>
<html>

<head>
  <title> Compare Gesture Models </title>

  <link rel='stylesheet' href='/stylesheets/style.css' />

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script type="text/javascript" src="/data/region-pts.js"></script>
  <script type="text/javascript" src="/data/states.js"></script>
  <script type="text/javascript" src="/javascripts/rain.js"></script>

  <script type="text/javascript" src="/javascripts/record_gesture.js"></script>
</head>

<body id="gesture-body">
  <div id="gesture-main">
    <div id="selector">
      <div id="map"></div>
      <canvas id="trace"></canvas>
    </div>
    <div id="results-panel">

    </div>
  </div>
</body>

</html>