body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.maps_container {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.map_full_width {
  width: 90%;
  max-height: 90%;
}

.map_half_width {
  width: 45%;
  max-height: 90%;
}

.map_800_width {
  width: 800px;
}

#trace {
  position: absolute;
  left: 0;
  top: 0;
}
