body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.maps_container {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.map_full_width {
  width: 90%;
  max-height: 90%;
}

.map_half_width {
  width: 45%;
  max-height: 90%;
}

.map_800_width {
  width: 800px;
}

#trace {
  position: absolute;
  left: 0;
  top: 0;
}

#state_incomes_map svg path {
  cursor: pointer;
}

.columns {
  display: flex;
  flex-flow: row;
}

.right_pane {
  padding: 40px;
  font-size: 16px;
  line-height: 1.5;
}

.right_pane #timer {
  font-size: 40px;
  text-align: center;
}

.right_pane > div {
  margin-top: 20px;
}
